In [0]:
import pandas as pd

In [0]:
df = pd.read_csv('./songsDB.csv', error_bad_lines=False)

b'Skipping line 3041: expected 4 fields, saw 5\nSkipping line 3049: expected 4 fields, saw 5\nSkipping line 3124: expected 4 fields, saw 5\nSkipping line 3897: expected 4 fields, saw 5\nSkipping line 5616: expected 4 fields, saw 5\nSkipping line 6062: expected 4 fields, saw 5\nSkipping line 6091: expected 4 fields, saw 5\nSkipping line 6720: expected 4 fields, saw 5\nSkipping line 6928: expected 4 fields, saw 5\nSkipping line 7532: expected 4 fields, saw 5\nSkipping line 7879: expected 4 fields, saw 5\nSkipping line 8454: expected 4 fields, saw 5\n'

In [0]:
df.head()

       movieTitle_year      singer_name  gender  song_count
0    Aag Aur Daag_1970      Asha Bhosle  FEMALE           3
1    Aag Aur Daag_1970    Mohammed Rafi    MALE           1
2  Aan Milo Sajna_1970    Kishore Kumar    MALE           2
3  Aan Milo Sajna_1970  Lata Mangeshkar  FEMALE           3
4  Aan Milo Sajna_1970    Mohammed Rafi    MALE           2

In [0]:
df.columns = ['movie', 'singer_name', 'gender', 'song_count']

In [0]:
def function(x):
    return x.split("_")[0]
df['movie'] = df['movie'].apply(lambda x: function(x))

In [0]:
df.head()

            movie      singer_name  gender  song_count
0    Aag Aur Daag      Asha Bhosle  FEMALE           3
1    Aag Aur Daag    Mohammed Rafi    MALE           1
2  Aan Milo Sajna    Kishore Kumar    MALE           2
3  Aan Milo Sajna  Lata Mangeshkar  FEMALE           3
4  Aan Milo Sajna    Mohammed Rafi    MALE           2

In [0]:
df.to_csv(path_or_buf='./processed/singer_movie', index=True)