In [0]:
import pandas as pd

In [0]:
df = pd.read_csv(r"C:\Users\Feroz\Downloads\Compressed\New folder/Consumption.csv")

In [0]:
df.columns = ['Date', 'Time','Global_active_power', 'Global_reactive_power', 'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3']

In [0]:
df = df.iloc[:, 0:3]

In [0]:
df.head()

         Date      Time Global_active_power
0  16-12-2006  17:24:00               4.216
1  16-12-2006  17:25:00                5.36
2  16-12-2006  17:26:00               5.374
3  16-12-2006  17:27:00               5.388
4  16-12-2006  17:28:00               3.666

In [0]:
df1 = df.dropna()

In [0]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
Date                   1048575 non-null object
Time                   1048575 non-null object
Global_active_power    1048575 non-null object
dtypes: object(3)
memory usage: 24.0+ MB